@import url("https://fonts.googleapis.com/css?family=Sofia");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro");
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

*{  font-family: "sofia", sans-serif; 
  /* font-family: 'Crimson Pro', serif;  */
  /* font-family: 'Bungee Spice', cursive;  */

}

/* *{ font-family: 'Crimson Pro', serif; 
  font-family: "sofia", sans-serif;   
  font-family: 'Bungee Spice', cursive; 
 } */

.container, li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
